@import '../../variables.css';

.platform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #FC5B08;
    border-radius: 5px;
}

.platform-title{
    font-weight: bold;
    color: white;
}

.platform-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.platform-id {
    font-size: calc(2px + 2vmin);
    color: white;
}

.platform-bottom{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px;
}

.platform-del{
    color: var(--text2);
    cursor: pointer;
    font-size: 20px;
}

.platform-accent{
    color: white;
    font-size: 20px;
}