@import '../../variables.css';

.button {
    padding: 12px 100px; /* Increased padding for a wider and longer button */
    font-size: calc(8px + 2vmin); /* Adjusted font size */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: var(--accent);
    color: var(--text1);
    border: none;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}



.button:hover {
    opacity: 0.33;
}

.button.danger {
    color: var(--accent);
    background-color: var(--primary);
}

.button.default {
    background-color: var(--accent);
}