@import '../../variables.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background: var(--primary);
    color: var(--third);
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text1);
}

.logo {
    height: 40px; 
    width: 40px;
    margin-right: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px; 
    width: 35px;
    border-radius: 50%;
    background-color: var(--accent);
    margin-left: 10px;
    font-size: 20px;
    border: 2px solid var(--secondary);
}

.darktheme{
    color: var(--text1);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.darktheme:hover {
    opacity: 0.33;
}

.header-right{
    display: flex;
    align-items: center;
}