.App {
  background: linear-gradient(to bottom, var(--primary), var(--secondary), var(--third));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}

.App-body {
  display: flex;
  flex-direction: row;
  justify-content: start;
  min-height: 100%;
}

.sidebar {
  width: 25vw;
  min-height: 100%;
  padding: 0 10px;
  border-right: var(--accent) solid 2px;
}

.main {
  flex-grow: 1; /* Растягиваем на всё оставшееся пространство */
}

.app-button {
  margin-left: 46px;
}

.notification {
  color: var(--accent);
}
