@import '../../variables.css';

.accordion {
  background-color: var(--background);
  margin: 10px 25px;
  padding: 10px;
  border-radius: 5px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 15px 15px;
  cursor: pointer;
}

.accordion-header.open {
  border-bottom: 1px solid var(--text2);
}

.arrow {
  color: var(--text2);
  margin-left: 20px;
  font-size: 18px;
}

.arrow.open {
  transform: rotate(180deg);
}

.accordion-content {
  padding: 0 10px;
}

.accordion-body{
  padding: 15px;
}

.accordion-bottom{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid var(--text2);
}

.accordion-title{
  font-size: calc(12px + 2vmin);
  font-weight: bold;
  color: var(--text2);
}

.accordion-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--text2);
}

.accordion-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: calc(4px + 2vmin);
  color: #FC5B08;
}

.accordion-info {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  color: #FC5B08;
}

.accordion-id{
  font-size: calc(1px + 2vmin);
  margin: 5px;
  color: #FC5B08;
}

.accordion-table{
  width: 100%;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 15px;
  font-size: calc(4px + 2vmin);
  color: var(--text2);
}

.accordion-table th {
  padding: 8px;
  text-align: left;
  color: #FC5B08;
}

.buttons {
  text-align: right;
  color: #FC5B08;
}

.no-accordions{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #FC5B08;
  font-size: calc(6px + 2vmin);
}